// Base Colors
$background-color: #3A3A3F;
$sidebar-background-color: #2c2c2ce0;
$white-color: #fff;
$bold-number-color: #4B4B4B;
$orange-paragraph-text-color:#F85B37;
$get-in-touch:radial-gradient(50% 50% at 50% 50%, #FFCBBE 14.28%, #D49DFF 100%);
$form-box-shadow: rgba(0, 0, 0, 0.25);
$input-border-color: #C6C5C5;
$bottom-nav-bg-color: linear-gradient(233.34deg, #FFE1DA 19.71%, #FFFFFF 72.76%);
$hover-bg-color: rgba(255, 255, 255, 0.1);
$purple-btn-bg-color: rgba(138, 7, 240, 1);
$button-hover-bg-color: rgb(108, 6, 185);
$base-background-color: #2c2c2c;
$accordian-content-text-color:#2A2A2A;
$accordian-content-heading-text-color:#474748;
$accordion-border-bottom-color:#7E7E7E;
$base-black-color: #000000;
$orange-dot-color:#F85D3A;
$base-white-color: #ffffff;
$base-gray-color: #4d4c4c;
$social-icn-background-color: #000000B2;
$base-pink-color: #ffe0e0;
$base-banner-blend-color: radial-gradient(50% 50% at 50% 50%, #653f36 0%, #292220 100%);
$base-pink-background: #FFE0E0;
$help-bg-color: #f85833;
$blog-date-color:#7C7B7B;
$blog-details-color:#222222;
$blog-right-panel-border-color:#363535;

// Derived colors
$black-text-color: $base-black-color;
$white-btn-hover-color: #d1d1d1;
$card-heading-text-color: rgba(241, 86, 50, 1);
$banner-blend-color: $base-banner-blend-color;
$gray-text-color: $base-gray-color;
$card-paragraph-text-color: rgba(34, 34, 34, 1);
$pink-background: $base-pink-color;
$background-color-footer: #383838;