// Base Colors
$background-color: #3A3A3F;
$white-color: #fff;

// New
$Base-first-color: #A02334;
$Base-second-color: #fc9e46;
$Base-third-color: #96CEB4;
$Base-fourth-color: #FFEEAD;
$Base-fifth-color: #ffffff;
$global-color-text: #6A737B;