@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    --header-height: fit-content;
    height: var(--header-height);
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 5px 20px;
    background-color: $background-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact {
        max-width: 1285px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white-color;

        a {
            text-decoration: none;
            color: $white-color;

            span {
                margin-right: 10px;
            }
        }

        .social-icons a {
            color: $white-color;
            margin-right: 10px;
        }
    }
}

.bottom-nav {
    width: 100%;
    background: $bottom-nav-bg-color;
    display: flex;
    box-shadow: 0px 4px 40px 0px #00000029;
    justify-content: center;
    align-items: center;

    .in {
        margin: 0 20px;
        padding: 10px 0;
        width: 100%;
        max-width: 1285px;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo img {
            height: 40px;
        }

        .nav-links {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: flex-end;

            li {
                position: relative;

                a {
                    color: $background-color;
                    text-decoration: none;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    transition: .3s ease;

                    &:not(.btn)::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $purple-btn-bg-color;
                        transition: width 0.3s;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:not(.btn):hover::after {
                        width: 100%;
                    }

                    &:not(.btn):hover {
                        color: $purple-btn-bg-color;
                    }

                    &.btn {
                        background-color: $purple-btn-bg-color;
                        border-radius: 20px;
                        color: $white-color;

                        &:hover {
                            background: $button-hover-bg-color;
                        }
                    }
                }
            }
        }

        .hamburger {
            display: none;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;

            @media (max-width: 790px) {
                display: block;
                color: $background-color;
            }
        }
        .hidden {
            display: none;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;

            @media (max-width: 790px) {
                display: block;
                color: $background-color;
            }
        }
    }
}

.close-sidebar {
    display: none;

    button {
        background: none;
        border: none;
        font-size: 30px;
        color: $white-color;
        cursor: pointer;
    }
}

// Footer
footer {
    background: $background-color-footer;
    color: $white-color;
    padding: 40px 0;

    .container {
        max-width: 1285px;
        width: 100%;
        border-bottom: 1px solid $white-color;
        margin: 0 auto;

        .right {
            padding: 0 20px;
            text-align: end;
            margin-bottom: .5rem;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            margin-bottom: 1.5rem;

            .col {
                flex: 0 0 25%;
                max-width: 25%;
                padding: 0 20px;

                &:nth-child(1) {
                    flex: 0 0 30%;
                    max-width: 30%;
                }

                &:nth-child(2) {
                    flex: 0 0 20%;
                    max-width: 20%;
                }

                &:nth-child(4) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .address {
                    align-items: flex-start;
                }

                p {
                    line-height: 1.6;
                    display: flex;
                    gap: .3rem;
                    align-items: center;
                    margin-bottom: 10px;
                }

                ul {
                    list-style: none;

                    li a {
                        color: $white-color;
                        text-decoration: none;
                        line-height: 2;
                    }
                }

                .social-icons {
                    display: flex;

                    a {
                        color: $white-color;
                        background: $purple-btn-bg-color;
                        padding: .5rem;
                        border-radius: 12px;
                        margin-right: 10px;
                        font-size: 20px;
                        display: flex;
                        width: fit-content;
                        justify-content: center;
                        align-items: center;
                        transition: .3s ease;

                        &:nth-child(4) {
                            margin-right: 0;
                        }

                        &:hover {
                            background: $button-hover-bg-color;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1137px) {
    .bottom-nav .in .nav-links li a {
        padding: 5px 10px;
        font-size: 15px;
    }
}

@media (max-width: 925px) {
    .bottom-nav .in .nav-links li a {
        padding: 5px 8px;
        font-size: 15px;
    }
}


@media (max-width: 876px) {
    .bottom-nav .in .nav-links li a {
        padding: 5px 9px;
        font-size: 13px;
    }
}

@media (max-width: 830px) {
    .bottom-nav .in .nav-links {
        position: fixed;
        top: 86.5px;
        right: 0;
        height: calc(100% - 81px);
        width: 220px;
        background: $sidebar-background-color;
        backdrop-filter: blur(1px);
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;

        &.open {
            transform: translateX(0);
        }

        li {
            margin-top: .5rem;

            a {
                color: $white-color;
            }
        }
    }

    .bottom-nav .in .close-sidebar {
        display: flex;
        button{
             color: $background-color;
        }
    }


    .bottom-nav .in .hamburger {
        display: block;
        color: $background-color;
    }

    .bottom-nav .in .hidden {
        display: none;
    }
}

@media (max-width: 768px) {
    footer .container .row .col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    footer .container .row .col:nth-child(1) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    footer .container .row .col:nth-child(2) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 500px) {
    nav .contact {
        width: 100%;
    }
}

@media (max-width: 480px) {
    footer .container .row .col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 1.5rem;
    }

    footer .container .row .col:nth-child(1) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    footer .container .row .col:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    footer .container .right {
        padding: 0 20px;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}